<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% include "bootstrap.html" %}
</head>
<body>
<div class="container-fluid">
    {% include "header.html" %}

    {% block content %}
        <div class="container">
            <div class="row">
                <div class="col-md-4 ">
                    {#            <ul class="goods-filter">#}
                    {#                <li class="filter-top">#}
                    {#                    <p>Дата добавления</p>#}
                    {#                </li>#}
                    {#                <li>#}
                    {#                    <p>Период создания</p>#}
                    {#                </li>#}
                    {#                <li>#}
                    {#                    <p>Жанр</p>#}
                    {#                </li>#}
                    {#                <li>#}
                    {#                    <p>Цена</p>#}
                    {#                </li>#}
                    {#            </ul>#}
{#                    <button data-toggle="collapse" data-target="#collapse-filter">Фильтр</button>#}
                    <form class="goods-filter" id="collapse-filter" action="" method="get">
                        {{ filter.form.as_p }}

                        <button class="btn-default filter-button" name="name" value="value" type="submit">Выбрать</button>

                    </form>
                    {#                {% for obj in filter.qs %}#}
                    {#                    {{ obj.name }} - ${{ obj.price }}<br />#}
                    {#                {% endfor %}#}


                </div>
                <div class="col-md-8 goods">
                    <div class="row text-center">

                        {% for i in filter.qs %}
                            <a class="good" href="{% url 'goods' i.id %}">
                                <div class="col-md-4 blockgoods">
                                    <div class="blockgoods-content">
                                        <img src="{{ i.images_set.all.0.url }}">
                                        <h1>{{ i.name }}</h1>
                                        <p>{{ i.price }} руб.</p>
                                    </div>
                                </div>
                            </a>
                        {% endfor %}

                    </div>
                    <!--
            <ul class="goods-list">
                {% for i in filter.qs %}
                    <li class="categories-list">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="category-image-wrapper">
                                    <img class="category-preview col-md-12" src="{{ i.images_set.all.0.url }}">
                                </div>
                            </div>
                            <div class="row">
                                <div class="description">
                                    <a class="goods-title" href="{% url 'goods' i.id %}">{{ i.name }}</a><br/>
                                    <p class="price">
                                        {{ i.price }} руб.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>

            -->
                </div>
            </div>
        </div>
    {% endblock %}

    {% include "footer.html" %}
</div>
</body>
</html>