<header>
    <div class="row">
        <div class="col-md-2 col-md-offset-2">
            <a class="logo" href="{% url 'categories' %}">Аристократ</a>
        </div>
        <div class="col-md-1 col-md-offset-1">
            <a class="contacts-header" href="#">Контакты</a>
        </div>
        <div class="col-md-2">
            <div class="inner-addon right-addon">
                <a id="search-btn" class="glyph-s glyphicon glyphicon-search"></a>
                <input placeholder="Поиск" class="search form-control" type="text" id="search"/>
            </div>
        </div>
{#        <button id="search-btn" >Поиск</button>#}
        <div class="col-md-2">
            <p class="phone-header">8 904 567 89 43</p>
        </div>
    </div>
</header>